<div id="header">
  <div class="left-header">
    <div class="header-logo">
      <a href="/">
        <img
          src="../../../assets/images/logo light.svg"
          alt="Placeholder image"
        />
      </a>
    </div>
    <div class="header-title">MALADE GROUP</div>
  </div>
  <div class="right-header">
    <a href="/">Home</a>
    <a href="/about">About us</a>
    <a href="#businesses">Businesses</a>
    <a href="/contact">Contact us</a>
    <div class="header-menu">
      <img
        src="../../../assets/images/header-menu.svg"
        alt="Placeholder image"
      />
    </div>
  </div>
</div>
