#header {
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;
  background-color: #191919;

  .left-header {
    display: flex;
    margin-left: 100px;

    .header-title {
      display: flex;
      align-items: center;
      margin-left: 10px;
      color: #fff;
    }
  }

  .right-header {
    display: flex;
    margin-right: 100px;

    a {
      margin: 10px;
      color: #fff;
    }

    .header-menu {
      display: none;
    }
  }
}

// Tablets (phones, 600px and down)
@media only screen and (max-width: 820px) {
  #header {
    .left-header {
      margin-left: 20px;
    }

    .right-header {
      margin-right: 20px;

      a {
        display: none;
      }

      .header-menu {
        display: flex;
        cursor: pointer;
        background-color: black;
      }

      .header-menu:active {
        box-shadow: 0 3px #666;
        transform: translateY(4px);
      }
    }
  }
}
