<div id="contact-us">
  <div class="left">
    <img src="../../../assets/images/contact us.png" alt="contact us" />
  </div>
  <div class="right">
    <div class="top">
      <h1>CONTACT INFORMATION</h1>
      <span><img src="../../../assets/images/MG/mail.svg" /><p>info@malade.ng</p></span>
      <span><img src="../../../assets/images/MG/phone.svg" /><p>+234801234511</p></span>
    </div>
    <div class="middle">
      <img src="../../../assets/images/MG/whatsapp.svg" />
      <img src="../../../assets/images/MG/linkedin.svg" />
    </div>
    <div class="bottom">
      <h1>OFFICES</h1>
      <span><img src="../../../assets/images/MG/pin.svg" /><p>No 1, aa str., Abuja</p></span>
      <span><img src="../../../assets/images/MG/pin.svg" /><p>No 1, aa str., Abuja</p></span>
      <span><img src="../../../assets/images/MG/pin.svg" /><p>No 1, aa str., Abuja</p></span>
    </div>
  </div>
</div>
