<div class="container-one">
  <div class="left">
    <img src="../../../assets/images/person 1.png" />
  </div>
  <div class="right">
    <div class="title"><h2>MARCELLA MALADE</h2></div>
    <div class="subtitle"><h3><i>CHAIRMAN</i></h3></div>
    <div class="about">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil dolorum
      omnis explicabo eaque et libero architecto. Autem iure veniam, perferendis
      ipsum, sunt et totam molestiae, architecto quibusdam dolorem cupiditate
      doloribus. lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Nihil dolorum omnis
      explicabo eaque et libero architecto. Autem iure veniam, perferendis
      ipsum, sunt et totam molestiae, architecto quibusdam dolorem cupiditate
      doloribus. lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Nihil dolorum omnis
      explicabo eaque et libero architecto. Autem iure veniam, perferendis
      ipsum, sunt et totam molestiae, architecto quibusdam dolorem cupiditate
      doloribus. lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </div>
    <a href="https://LinkedIn.com/"><button>CONNECT</button></a>
  </div>
</div>
<div class="container-two">
  <div class="left">
    <div class="title"><h2>GREG MALADE</h2></div>
    <div class="subtitle"><h3><i>SECRETARY</i></h3></div>
    <div class="about">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil dolorum
      omnis explicabo eaque et libero architecto. Autem iure veniam, perferendis
      ipsum, sunt et totam molestiae, architecto quibusdam dolorem cupiditate
      doloribus. lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Nihil dolorum omnis
      explicabo eaque et libero architecto. Autem iure veniam, perferendis
      ipsum, sunt et totam molestiae, architecto quibusdam dolorem cupiditate
      doloribus. lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Nihil dolorum omnis
      explicabo eaque et libero architecto. Autem iure veniam, perferendis
      ipsum, sunt et totam molestiae, architecto quibusdam dolorem cupiditate
      doloribus. lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </div>
    <a href="https://LinkedIn.com/"><button>CONNECT</button></a>
  </div>
  <div class="right">
    <img src="../../../assets/images/person 2.png" />
  </div>
</div>
<div class="container-one">
  <div class="left">
    <img src="../../../assets/images/person 3.png" />
  </div>
  <div class="right">
    <div class="title"><h2>SIMON MALADE</h2></div>
    <div class="subtitle"><h3><i>ADVISOR</i></h3></div>
    <div class="about">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil dolorum
      omnis explicabo eaque et libero architecto. Autem iure veniam, perferendis
      ipsum, sunt et totam molestiae, architecto quibusdam dolorem cupiditate
      doloribus. lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Nihil dolorum omnis
      explicabo eaque et libero architecto. Autem iure veniam, perferendis
      ipsum, sunt et totam molestiae, architecto quibusdam dolorem cupiditate
      doloribus. lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Nihil dolorum omnis
      explicabo eaque et libero architecto. Autem iure veniam, perferendis
      ipsum, sunt et totam molestiae, architecto quibusdam dolorem cupiditate
      doloribus. lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </div>
    <a href="https://LinkedIn.com/"><button>CONNECT</button></a>
  </div>
</div>
