#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-color: #191919;
  color: #fff;

  .left-footer {
    display: block;
    margin-left: 100px;
    max-width: 500px;

    .footer-title {
      display: flex;
      align-items: center;
    }

    .footer-foot {
      margin-top: 20px;
    }
  }

  .right-footer {
    display: flex;
    margin-right: 100px;
    a {
      margin: 10px;
      color: #fff;
    }

    .footer-menu {
      display: none;
    }
  }
}

// Tablets (phones, 600px and down)
@media only screen and (max-width: 820px) {
  #footer {
    display: block;
    
    .left-footer {
      margin: 15px;
    }

    .right-footer {
      margin-right: 0px;
      text-align: center;

      a {
        margin: 15px;
      }

      .footer-menu:active {
        box-shadow: 0 3px #666;
        transform: translateY(4px);
      }
    }
  }
}
