<div id="footer">
    <div class="left-footer">
      <div class="footer-logo">
        <h2>Lorem ipsum dolor sit.</h2>
      </div>
      <div class="footer-title">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci earum doloremque culpa quidem repellat tempore esse? Dicta exercitationem dignissimos non dolores, voluptate suscipit, beatae, magni quae qui omnis rem explicabo?</p>
      </div>
      <div class="footer-foot">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga eveniet accusantium voluptates sequi dolores et, eos modi soluta ullam sapiente.
      </div>
    </div>
    <div class="right-footer">
      <a href="">Home</a>
      <a href="">Businesses</a>
      <a href="">About us</a>
      <a href="">Contact us</a>
    </div>
  </div>
  