<div id="title"><h1>BUILDING & CONSTRUCTION</h1></div>
<div id="container">
  <div class="contentOne">
    <img src="../../../assets/images/business1.svg" />
    <div class="subContent">
      <h2>DANAGLOBE</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
        recusandae rem, explicabo expedita aperiam ad minima consequuntur,
        doloremque perspiciatis, veritatis sunt. Aliquam consequuntur fuga
        voluptatibus sapiente sequi eligendi est totam? Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Distinctio recusandae rem, explicabo
        expedita aperiam ad minima consequuntur, doloremque perspiciatis,
        veritatis sunt.Aliquam consequuntur fuga voluptatibus sapiente sequi
        eligendi est totam? Explicabo expedita aperiam ad minima consequuntur,
        doloremque perspiciatis, veritatis sunt. Voluptatem praesentium nisi
        nobis Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
    </div>
  </div>
  <div class="contentTwo">
    <div class="subContent">
      <h2>REAL ESTATE</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
        recusandae rem, explicabo expedita aperiam ad minima consequuntur,
        doloremque perspiciatis, veritatis sunt. Aliquam consequuntur fuga
        voluptatibus sapiente sequi eligendi est totam? Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Distinctio recusandae rem, explicabo
        expedita aperiam ad minima consequuntur, doloremque perspiciatis,
        veritatis sunt.Aliquam consequuntur fuga voluptatibus sapiente sequi
        eligendi est totam? Explicabo expedita aperiam ad minima consequuntur,
        doloremque perspiciatis, veritatis sunt.
      </p>
    </div>
    <p class="split">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim delectus
      magni laboriosam a dolorum dolorem provident praesentium sit esse
      reiciendis magnam vero, nam, optio eaque beatae deserunt necessitatibus
      quibusdam iusto. Reiciendis magnam vero, nam, optio eaque beatae deserunt
      necessitatibus quibusdam iusto.
    </p>
  </div>
  <div class="contentThree">
    <div class="subContent">
      <img src="`../../../assets/images/business2.svg" />
      <img src="`../../../assets/images/business3.svg" />
    </div>
    <img src="`../../../assets/images/business4.svg" />
  </div>
</div>
